body{
    background-color:#202020;
}
#bell{
    font-size: 25px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
#thumbnail {
    transition: transform .2s; 
    margin: 0 auto;
  }
  #thumbnail:hover {
    transform: scale(1.3); 
  }
  .nav-link:hover{
      background-color: firebrick;
      border-radius: 5px;
      transform: scale(1.1);
  }
.tvshows{
    padding-bottom: 40px;
}
.heading1{
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
}
.tv_shows_inner{
    display: block;
}
.tv_shows_inner .img1{
    padding-left: 40px;
    padding-right: 10px;
    width: 18%;
    padding-bottom: 10px;
}
.tv_shows_inner .img2{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.tv_shows_inner .img3{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.tv_shows_inner .img4{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.tv_shows_inner .img5{
    padding-left: 10px;
    padding-right:10px;
    width: 16%;
    padding-bottom: 10px;
}
.tv_shows_inner .img6{
    padding-left: 10px;
    padding-right: 20px;
    width: 16%;
    padding-bottom: 10px;
}
.tv_shows_inner .img7{
    padding-left: 40px;
    padding-right: 10px;
    width: 18%;
    padding-top: 10px;
}
.tv_shows_inner .img8{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-top: 10px;
}
.tv_shows_inner .img9{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-top: 10px;
}
.tv_shows_inner .img10{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-top: 10px;
}
.tv_shows_inner .img11{
    padding-left: 10px;
    padding-right:10px;
    width: 16%;
    padding-top: 10px;
}
.tv_shows_inner .img12{
    padding-left: 10px;
    padding-right: 20px;
    width: 16%;
    padding-top: 10px;
}
.movies{
    padding-bottom: 40px;
} 
.heading2{
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
}
.movies_inner{
    display: block;
}
.movies_inner .img1{
    padding-left: 40px;
    padding-right: 10px;
    width: 18%;
    padding-bottom: 10px;
}
.movies_inner .img2{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.movies_inner .img3{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.movies_inner .img4{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.movies_inner .img5{
    padding-left: 10px;
    padding-right:10px;
    width: 16%;
    padding-bottom: 10px;
}
.movies_inner .img6{
    padding-left: 10px;
    padding-right: 20px;
    width: 16%;
    padding-bottom: 10px;
}
.popular{
    padding-bottom: 40px;
}
.heading3{
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
}
.popular_shows_inner{
    display: block;
}
.popular_shows_inner .img1{
    padding-left: 40px;
    padding-right: 10px;
    width: 18%;
    padding-bottom: 10px;
}
.popular_shows_inner .img2{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.popular_shows_inner .img3{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.popular_shows_inner .img4{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.popular_shows_inner .img5{
    padding-left: 10px;
    padding-right:10px;
    width: 16%;
    padding-bottom: 10px;
}
.popular_shows_inner .img6{
    padding-left: 10px;
    padding-right: 20px;
    width: 16%;
    padding-bottom: 10px;
}
.popular_shows_inner .img7{
    padding-left: 40px;
    padding-right: 10px;
    width: 18%;
    padding-top: 10px;
}
.popular_shows_inner .img8{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-top: 10px;
}
.popular_shows_inner .img9{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-top: 10px;
}
.popular_shows_inner .img10{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-top: 10px;
}
.popular_shows_inner .img11{
    padding-left: 10px;
    padding-right:10px;
    width: 16%;
    padding-top: 10px;
}
.popular_shows_inner .img12{
    padding-left: 10px;
    padding-right: 20px;
    width: 16%;
    padding-top: 10px;
}
.trending{
    padding-bottom: 40px;
} 
.heading4{
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
}
.trendingnow_inner{
    display: block;
}
.trendingnow .img1{
    padding-left: 40px;
    padding-right: 10px;
    width: 18%;
    padding-bottom: 10px;
}
.trendingnow .img2{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.trendingnow .img3{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.trendingnow .img4{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.trendingnow .img5{
    padding-left: 10px;
    padding-right:10px;
    width: 16%;
    padding-bottom: 10px;
}
.trendingnow .img6{
    padding-left: 10px;
    padding-right: 20px;
    width: 16%;
    padding-bottom: 10px;
}
.originals{
    padding-bottom: 40px;
} 
.heading5{
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
}
.original_shows_inner{
    display: block;
}
.original_shows_inner .img1{
    padding-left: 40px;
    padding-right: 10px;
    width: 18%;
    padding-bottom: 10px;
}
.original_shows_inner .img2{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.original_shows_inner .img3{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.original_shows_inner .img4{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.original_shows_inner .img5{
    padding-left: 10px;
    padding-right:10px;
    width: 16%;
    padding-bottom: 10px;
}
.original_shows_inner .img6{
    padding-left: 10px;
    padding-right: 20px;
    width: 16%;
    padding-bottom: 10px;
}
.others{
    padding-bottom: 40px;
} 
.heading6{
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
}
.others_shows_inner{
    display: block;
}
.others_shows_inner .img1{
    padding-left: 40px;
    padding-right: 10px;
    width: 18%;
    padding-bottom: 10px;
}
.others_shows_inner .img2{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.others_shows_inner .img3{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.others_shows_inner .img4{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 10px;
}
.others_shows_inner .img5{
    padding-left: 10px;
    padding-right:10px;
    width: 16%;
    padding-bottom: 10px;
}
.others_shows_inner .img6{
    padding-left: 10px;
    padding-right: 20px;
    width: 16%;
    padding-bottom: 10px;
}
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#202020;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  @media (max-width:769px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
    #demo-2{
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    #bell{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .heading1{
        padding-top: 10px;
    }
    .tv_shows_inner .img9{
        display: none;
    }
    .tv_shows_inner .img10{
        display: none;
    }
    .tv_shows_inner .img11{
        display: none;
    }
    .tv_shows_inner .img12{
        display: none;
    }
    .tv_shows_inner .img1{
        width: 24%;
        padding-bottom: 20px;
        height: 140px;
    }
    .tv_shows_inner .img2{
        width: 23%;
        padding-bottom: 20px;
        height: 140px;
    }
    .tv_shows_inner .img3{
        width: 23%;
        padding-bottom: 20px;
        height: 140px;
    }
    .tv_shows_inner .img4{
        width: 23%;
        padding-bottom: 20px;
        height: 140px;
    }
    .tv_shows_inner .img5{
        padding-left: 40px;
        width: 24%;
        height: 130px;
    }
    .tv_shows_inner .img6{
        width: 23%;
        height: 130px;
    }
    .tv_shows_inner .img7{
        width: 23%;
        padding-top: 0px;
        height: 130px;
        padding-left: 10px;
    }
    .tv_shows_inner .img8{
        width: 23%;
        padding-top: 00px;
        height: 130px;
    }
    .heading2{
        padding-top: 10px;
    }
    .movies_inner .img5{
        display: none;
    }
    .movies_inner .img6{
        display: none;
    }
    .movies_inner .img1{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .movies_inner .img2{
        width: 24%;
        padding-bottom: 0px;
        height: 130px;
    }
    .movies_inner .img3{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .movies_inner .img4{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .heading3{
        padding-top: 10px;
    }
    .popular_shows_inner .img9{
        display: none;
    }
    .popular_shows_inner .img10{
        display: none;
    }
    .popular_shows_inner .img11{
        display: none;
    }
    .popular_shows_inner .img12{
        display: none;
    }
    .popular_shows_inner .img1{
        width: 24%;
        padding-bottom: 20px;
        height: 140px;
    }
    .popular_shows_inner .img2{
        width: 23%;
        padding-bottom: 20px;
        height: 140px;
    }
    .popular_shows_inner .img3{
        width: 23%;
        padding-bottom: 20px;
        height: 140px;
    }
    .popular_shows_inner .img4{
        width: 23%;
        padding-bottom: 20px;
        height: 140px;
    }
    .popular_shows_inner .img5{
        padding-left: 40px;
        width: 24%;
        height: 130px;
    }
    .popular_shows_inner .img6{
        width: 23%;
        height: 130px;
        padding-bottom: 0px;
    }
    .popular_shows_inner .img7{
        width: 23%;
        padding-top: 0px;
        height: 130px;
        padding-left: 10px;
    }
    .popular_shows_inner .img8{
        width: 23%;
        padding-top: 00px;
        height: 130px;
    }
    .heading4{
        padding-top: 10px;
    }
    .trendingnow .img5{
        display: none;
    }
    .trendingnow .img6{
        display: none;
    }
    .trendingnow .img1{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .trendingnow .img2{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .trendingnow .img3{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .trendingnow .img4{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .original_shows_inner .img5{
        display: none;
    }
    .original_shows_inner .img6{
        display: none;
    }
    .original_shows_inner .img1{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .original_shows_inner .img2{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .original_shows_inner .img3{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .original_shows_inner .img4{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .others_shows_inner .img5{
        display: none;
    }
    .others_shows_inner .img6{
        display: none;
    }
    .others_shows_inner .img1{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .others_shows_inner .img2{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .others_shows_inner .img3{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .others_shows_inner .img4{
        width: 24%;
        padding-bottom:0px;
        height: 130px;
    }
    .heading5{
        padding-top: 10px;
    }
    .heading6{
        padding-top: 10px;
    }
    .footer-dark .item.text {
        margin-bottom:0;
      }
    
    .footer-dark .item.text p {
      opacity:0.6;
      margin-bottom:0;
    }
    
    .footer-dark .item.social {
      text-align:center;
    }
  }
  @media(max-width:451px)
  {
    .tv_shows_inner .img4{
       display: none;
    }
    .tv_shows_inner .img5{
        display: none;
    }
    .tv_shows_inner .img1{
        width: 32%;
        padding-left: 20px;
    }
    .tv_shows_inner .img2{
        width: 32%;
    }
    .tv_shows_inner .img3{
        width: 32%;
    }
    .tv_shows_inner .img6{
        width: 32%;
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 10px;
    }
    .tv_shows_inner .img7{
        width: 32%;
    }
    .tv_shows_inner .img8{
        width: 32%;
    }
    .movies_inner .img1{
        width: 32%;
        padding-left: 20px;
        height: 140px;
    }
    .movies_inner .img2{
        width: 32%;
        height: 140px;
    }
    .movies_inner .img3{
        width: 32%;
        height: 140px;
    }
    .movies_inner .img4{
        display: none;
    }
    .popular_shows_inner .img6{
        display: none;
    }
    .popular_shows_inner .img8{
        display: none;
    }
    .popular_shows_inner .img1{
        width: 32%;
        padding-bottom: 10px;
        padding-left: 20px;
    }
    .popular_shows_inner .img2{
        width: 32%;
        padding-bottom: 10px;
        height: 140px;
    }
    .popular_shows_inner .img3{
        width: 32%;
        padding-bottom: 10px;
    }
    .popular_shows_inner .img4{
        width: 32%;
        padding-bottom: 10px;
       padding-left: 20px;
       padding-right: 0px;
    }
    .popular_shows_inner .img5{
        padding-left: 10px;
        width: 32%;
        height: 140px;
    }
    .popular_shows_inner .img7{
        width: 32%;
        padding-top: 0px;
        height: 130px;
        padding-left: 10px;
    }
    .trendingnow .img1{
        width: 32%;
        height: 140px;
        padding-left: 20px;
    }
    .trendingnow .img2{
        width: 32%;
        height: 140px;
    }
    .trendingnow .img3{
        width: 32%;
        height: 140px;
    }
    .trendingnow .img4{
        display: none;
    }
    .original_shows_inner .img1{
        width: 32%;
        height: 140px;
        padding-left: 20px;
    }
    .original_shows_inner .img2{
        width: 32%;
        height: 140px;
    }
    .original_shows_inner .img3{
        width: 32%;
        height: 140px;
    }
    .original_shows_inner .img4{
        display: none;
    }
    .others_shows_inner .img1{
        width: 32%;
        height: 140px;
        padding-left: 20px;
    }
    .others_shows_inner .img2{
        width: 32%;
        height: 140px;
    }
    .others_shows_inner .img3{
        width: 32%;
        height: 140px;
    }
    .others_shows_inner .img4{
        display: none;
    }
  }
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }